{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs" >
<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="Kobylky, &quot;2. smečka vlčat&quot;, &quot;2. smecka vlcat&quot;, Litoměřice, Litomerice, Junák, Junak, skaut, skauting, vlčata, vlcata, &quot;skaut Litoměřice&quot;, &quot;skaut Litomerice&quot;, &quot;Litoměřice skaut&quot;, &quot;Litomerice skaut&quot;, &quot;Litoměřický skaut&quot;, &quot;Litomericky skaut&quot;, dětský, detsky, tábor, tabor, &quot;dětský tábor&quot;, &quot;detsky tabor&quot;, letní, letni, prázdniny, prazdniny, &quot;letní prázdniny&quot;, &quot;letni prazdniny&quot;, &quot;skautský tábor&quot;, &quot;skautsky tabor&quot;, &quot;letní tábor&quot;, &quot;letni tabor&quot;, &quot;prázdninový tábor&quot;, &quot;prazdninovy tabor&quot;, &quot;jarní tábor&quot;, &quot;jarni tabor&quot;, &quot;středisko Radobýl&quot;, &quot;stredisko Radobyl&quot;, kroužek, krouzek, kroužky, krouzky, &quot;volný čas&quot;, &quot;volny cas&quot;, &quot;volnočasové aktivity&quot;, &quot;volnocasove aktivity&quot;, turistika, výlety, vylety" />
  <meta name="description" content="Kobylky - 2. smečka vlčat" />
  <meta name="generator" content="Joomla! 1.5 - Open Source Content Management" />
  <title>{% block head_title %} Vítejte na stránkách 2. smečky vlčat Kobylky {% endblock %}</title>
  <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'css/phocagallery_module_random_image.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'system/css/modal.css' %}" type="text/css" />

  <link rel="stylesheet" href="static/css/template_css.css" type="text/css" />
  <link rel="stylesheet" href="static/css/horizontal.css" type="text/css" />
  <link rel="stylesheet" href="static/css/editor.css"  type="text/css" />
  <link rel="stylesheet" href="static/css/phocagallery_moduleieall_random_image.css" type="text/css" />
  {% block head_css %}{% endblock %}
  {% block head_javascript %}{% endblock %}
</head>

<body>
<div id="header_in"><div align="center"><div id="header_mod">
			<img src="static/images/header.jpg" alt="header" />
</div></div></div>

<div id="header_l"><div align="center"><div id="header_r"><div id="header_box">
	<div id="logo_box"><div id="logo">
		<h1><a onfocus="blur()" href="index.html"><span>2. smečka vlčat Kobylky Litoměřice</span></a></h1>
	</div></div>
	<div id="topmod_box"><div id="topmod"><div class="moduletable">
                {% block news %}<h3>Novinky</h3>
    <table class="contentpaneopen">
	    <tr><td valign="top" >
<p>Přihlašujte se na <a href="http://kobylky.radobyl.eu/index.php?option=com_content&amp;view=article&amp;id=651:bitva-o-helfenburk&amp;catid=84:20152016&amp;Itemid=61" target="_self"><strong>Bitvu o Helfenburk</strong></a>.<br /> První schůzka 3. 9. Schůzky každý čtvrtek 16.15–18.15.</p>
      </td></tr>
    </table>
    {% endblock %}
	</div></div></div>
</div></div></div></div>

<div id="bg"><div align="center">
	<div id="header">
		<div id="empty"></div>
		<div id="top_l"><div id="top_r"><div id="top">
			<div id="search_box"><div id="search"><div class="moduletable">
				<form action="index.php" method="post">
	        <div class="search">
		        <input name="searchword" id="mod_search_searchword" maxlength="20" alt="Hledat" class="inputbox" type="text" size="20" value="hledat..."  onblur="if(this.value=='') this.value='hledat...';" onfocus="if(this.value=='hledat...') this.value='';" />
          </div>
	        <input type="hidden" name="task"   value="search" />
	        <input type="hidden" name="option" value="com_search" />
 	        <input type="hidden" name="Itemid" value="1" />
        </form>
      </div></div></div>
		</div></div></div>
		<div id="pathway_box">
			<div id="path_text">Jsi zde:</div>
            <div id="path"><span class="breadcrumbs pathway">{% block breadcrumbs %}Domů{% endblock %}</span></div>	
		</div>
	</div><!--header-->

  <div id="container" class="clearfix">
		<div id="left_col"><div id="left_mod">
            <div class="module_menu"><div><div><div>
                {% block navbar %}                
				<h3>Rozcestník</h3>
				<ul class="menu">
          <li id="current" class="active item1"><a href="index.html"><span>Domů</span></a></li>
          <li class="item61"><a href="/index.php?option=com_content&amp;view=category&amp;layout=blog&amp;id=84&amp;Itemid=61"><span>Akce</span></a></li>
          <li class="item65"><a href="/index.php?option=com_content&amp;view=category&amp;layout=blog&amp;id=83&amp;Itemid=65"><span>Bodování</span></a></li>
          <li class="item67"><a href="kronika.html"><span>Kronika</span></a></li>
          <li class="item53"><a href="/index.php?option=com_phocagallery&amp;view=categories&amp;Itemid=53"><span>Fotky</span></a></li>
          <li class="item71"><a href="/index.php?option=com_content&amp;view=category&amp;layout=blog&amp;id=57&amp;Itemid=71"><span>Z ešusu</span></a></li>
          <li class="item69"><a href="/index.php?option=com_content&amp;view=category&amp;layout=blog&amp;id=53&amp;Itemid=69"><span>Užitečné</span></a></li>
          <li class="item55"><a href="/index.php?option=com_phocaguestbook&amp;view=phocaguestbook&amp;id=1&amp;Itemid=55"><span>Návštěvní kniha</span></a></li>
          <li class="item48"><a href="/index.php?option=com_weblinks&amp;view=category&amp;id=45&amp;Itemid=48"><span>Odkazy</span></a></li>
          <li class="item63"><a href="/index.php?option=com_content&amp;view=article&amp;id=109&amp;Itemid=63"><span>Kontakty</span></a></li>
                </ul>
                {% endblock %}
      </div></div></div></div>
		</div></div><!--left_col-->
		<div id="right_col">
            {% block content %}
            {% endblock %}
		</div><!--right_col-->
	</div><!--container-->
	<div id="foot_l"><div id="foot_r"><div id="foot">
		<div id="license_box"><div id="license" align="left"><div>Copyright &#169; 2015 2. smečka vlčat Kobylky Litoměřice. Všechna práva vyhrazena.</div>
      <div><a href="http://www.joomla.org">Joomla!</a> je svobodný software šířen pod <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU/GPL licencí.</a></div></div>
    </div>
		<div id="copyright_box"><div id="copyright">created by <a href="http://www.design-joomla.eu" onfocus="blur()" target="_blank" title="Professional Joomla Templates">design-joomla.eu</a></div></div>
  </div></div></div>
</div></div>
</body>
</html>
